<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ignite.pos"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />
    
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" 
            android:screenOrientation="sensorLandscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        
        <activity android:name="MainFragment" android:screenOrientation="sensorLandscape"></activity>
        <activity android:name="MenuActivity" android:screenOrientation="sensorLandscape"></activity>
        <activity android:name="LoginActivity" android:screenOrientation="sensorLandscape"></activity>
        <activity android:name="SaleActivity" android:screenOrientation="sensorLandscape" android:windowSoftInputMode="adjustPan"></activity>
        <activity android:name="AdminMainActivity" android:screenOrientation="sensorLandscape"></activity>
        <activity android:name="AddBarcodeActivity" android:screenOrientation="sensorLandscape"></activity>
        <activity android:name="AddNewCustomerActivity" android:screenOrientation="sensorLandscape"></activity>
        <activity android:name="AddNewSalePerson" android:screenOrientation="sensorLandscape"></activity>
        <activity android:name="AddCategoryActivity" android:screenOrientation="sensorLandscape"></activity>
        <activity android:name="AddSubCategoryActivity" android:screenOrientation="sensorLandscape"></activity>
        <activity android:name="AddNewBrandActivity" android:screenOrientation="sensorLandscape"></activity>
        <activity android:name=".UpdateSalePrice" android:screenOrientation="sensorLandscape"></activity>
        <activity android:name="UpdateAdminAccount" android:screenOrientation="sensorLandscape"></activity>
        <activity android:name=".UpdateCustomerInfoListActivity" android:screenOrientation="sensorLandscape"></activity>
        <activity android:name="UpdateCustomerInfoEdit" android:screenOrientation="sensorLandscape"></activity>
        <activity android:name="AddNewAdminAccount" android:screenOrientation="sensorLandscape"></activity>
        <activity android:name="SaleLoginActivity" android:screenOrientation="sensorLandscape"></activity>
        <activity android:name="SalePersonReportActivity" android:screenOrientation="sensorLandscape" android:windowSoftInputMode="adjustPan"></activity>
        <activity android:name="SaleReport" android:screenOrientation="sensorLandscape"></activity>
        <activity android:name="VoucherReportActivity" android:screenOrientation="sensorLandscape"></activity>
        <activity android:name="BuyerReportActivity" android:screenOrientation="sensorLandscape"></activity>
        <activity android:name="DailyReportActivity" android:screenOrientation="sensorLandscape"></activity>
        <activity android:name="ItemListReport" android:screenOrientation="sensorLandscape"></activity>
        <activity android:name="MonthlyReportActivity" android:screenOrientation="sensorLandscape"></activity>
        <activity android:name="WeeklyReportActivity" android:screenOrientation="sensorLandscape"></activity>
        <activity android:name="CreditReport" android:screenOrientation="sensorLandscape"></activity>
        <activity android:name="UpdateCategoryListActivity" android:screenOrientation="sensorLandscape"></activity>
        <activity android:name="UpdateCategoryActivity" android:screenOrientation="sensorLandscape"></activity>
        <activity android:name="VoucherSlipActivity" android:screenOrientation="sensorLandscape"></activity>
        <activity android:name="UpdateSubCategoryListActivity" android:screenOrientation="sensorLandscape"></activity>
        <activity android:name="UpdateSubCategoryActivity" android:screenOrientation="sensorLandscape"></activity>
        <activity android:name="AddNewSupplierActivity" android:screenOrientation="sensorLandscape"></activity>
        <activity android:name="PurchaseReport" android:screenOrientation="sensorLandscape"></activity>
        <activity android:name=".OtherReportsActivity" android:screenOrientation="sensorLandscape"></activity>
        <activity android:name="SupplierInfoReportActivity" android:screenOrientation="sensorLandscape"></activity>
        <activity android:name=".SupplierAddUpdateDeleteActivity" android:screenOrientation="sensorLandscape"></activity>
        <activity android:name="AddNewPurchaseItemActivity" android:screenOrientation="sensorLandscape"></activity>
        <activity android:name="AddNewPurchaseVoucherActivity" android:screenOrientation="sensorLandscape" android:windowSoftInputMode="adjustPan"></activity>
        <activity android:name="SupplierPurchaseReportActivity" android:screenOrientation="sensorLandscape"></activity>
        <activity android:name="VoucherPurchaseReportActivity" android:screenOrientation="sensorLandscape" android:windowSoftInputMode="adjustPan"></activity>
        <activity android:name="LedgerReportActivity" android:screenOrientation="sensorLandscape" android:windowSoftInputMode="adjustPan"></activity>
        <activity android:name="PurchaseDetailReportActivity" android:screenOrientation="sensorLandscape" android:windowSoftInputMode="adjustPan"></activity>
        <activity android:name="SaleDetailReportActivity" android:screenOrientation="sensorLandscape" android:windowSoftInputMode="adjustPan"></activity>
        <activity android:name=".ProfitReportActivity" android:screenOrientation="sensorLandscape" android:windowSoftInputMode="adjustPan"></activity>
        <activity android:name="SlowMovingReportActivity" android:screenOrientation="sensorLandscape" android:windowSoftInputMode="adjustPan"></activity>
        <activity android:name="UpdateSupplierInfoEdit" android:screenOrientation="sensorLandscape"></activity>
        <activity android:name="UpdateItemActivity" android:screenOrientation="sensorLandscape"></activity>
        <activity android:name="UpdateItemListActivity" android:screenOrientation="sensorLandscape"></activity>
        <activity android:name="UpdateSaleVoucherActivity" android:screenOrientation="sensorLandscape"></activity>
        <activity android:name="SaleUpdateActivity" android:screenOrientation="sensorLandscape" android:windowSoftInputMode="adjustPan"></activity>
        <activity android:name="UpdatePurchaseVoucherActivity" android:screenOrientation="sensorLandscape"></activity>
        <activity android:name="PurchaseUpdateActivity" android:screenOrientation="sensorLandscape" android:windowSoftInputMode="adjustPan"></activity>
        <activity android:name="PurchaseConfirmListActivity" android:screenOrientation="sensorLandscape" android:windowSoftInputMode="adjustPan"></activity>
        <activity android:name="RegisterNotificationActivity" android:screenOrientation="sensorLandscape"></activity>
        <activity android:name="NotificationDetailActivity" android:screenOrientation="sensorLandscape"></activity>
        <activity android:name=".NotificationAddUpdateDeleteActivity" android:screenOrientation="sensorLandscape"></activity>
        <activity android:name="UpdateNotifyEditActivity" android:screenOrientation="sensorLandscape"></activity>
        <activity android:name="SalePersonAddUpdateDeleteActivity" android:screenOrientation="sensorLandscape"></activity>
        <activity android:name="UpdateSalePersonActivity" android:screenOrientation="sensorLandscape"></activity>
        <activity android:name="AdminAddUpdateDeleteActivity" android:screenOrientation="sensorLandscape"></activity>
        <activity android:name="SaleReturnActivity" android:screenOrientation="sensorLandscape" android:windowSoftInputMode="adjustPan"></activity>
        <activity android:name="SaleReturnReportActivity" android:screenOrientation="sensorLandscape" android:windowSoftInputMode="adjustPan"></activity>
        <activity android:name="SaleHistoryReportActivity" android:screenOrientation="sensorLandscape" android:windowSoftInputMode="adjustPan"></activity>
        <activity android:name="ReturnVoucherSlipActivity" android:screenOrientation="sensorLandscape"></activity>
        <activity android:name="ProfitDetailReportActivity" android:screenOrientation="sensorLandscape" android:windowSoftInputMode="adjustPan"></activity>
        <activity android:name="BuyerAddUpdateDeleteActivity" android:screenOrientation="sensorLandscape" android:windowSoftInputMode="adjustPan"></activity>
        <activity android:name="AddNewBuyerActivity" android:screenOrientation="sensorLandscape" android:windowSoftInputMode="adjustPan"></activity>
        <activity android:name="UpdateBuyerInfoEdit" android:screenOrientation="sensorLandscape" android:windowSoftInputMode="adjustPan"></activity>
        <activity android:name="CreditBuyerReportActivity" android:screenOrientation="sensorLandscape" android:windowSoftInputMode="adjustPan"></activity>
        <activity android:name="CreditSupplierReportActivity" android:screenOrientation="sensorLandscape" android:windowSoftInputMode="adjustPan"></activity>
        <activity 
            android:name=".BusTicketSaleReportActivity" 
            android:screenOrientation="sensorLandscape" 
            android:windowSoftInputMode="adjustPan">
            
                <intent-filter>
			        <action android:name="android.intent.action.SEND" />
			        <category android:name="android.intent.category.DEFAULT" />
			        <data android:mimeType="text/plain" />
    			</intent-filter>
        </activity>
        
    </application>

</manifest>